@model IEnumerable<PWProject.Models.Product>
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" class="filter">
    <div class="input-wrapper">

        <div class="form-group">
        <label for="sortColumn">Sort by:</label>
        @Html.DropDownList("sortColumn", new[] {
            new SelectListItem { Text = "Name", Value = "Name", Selected = ViewContext.HttpContext.Request.Query["sortColumn"] == "Name" },
            new SelectListItem { Text = "Producer Name", Value = "Producer.Name", Selected = ViewContext.HttpContext.Request.Query["sortColumn"] == "Producer.Name" }
        }, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="sortOrder">Sort order:</label>
            @Html.DropDownList("sortOrder", new[] {
                new SelectListItem { Text = "Ascending", Value = "asc", Selected = ViewContext.HttpContext.Request.Query["sortOrder"] == "asc" },
                new SelectListItem { Text = "Descending", Value = "desc", Selected = ViewContext.HttpContext.Request.Query["sortOrder"] == "desc" }
            }, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="alcoholType">Alcohol type:</label>
            <select name="alcoholType" class="form-control">
                <option value=""></option>

                @foreach (var alcoholType in (IEnumerable<AlcoholType>)ViewData["AlcoholTypes"])
                {
                    <option value="@alcoholType">@alcoholType</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="filterValue">Search:</label>
            <input type="search" name="filterValue" value="@ViewContext.HttpContext.Request.Query["filterValue"]" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary filtrBtn">Apply</button>

    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlcoholType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Producer?.Name</td>
                <td>@item.AlcoholType</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@{
    var selectedAlcoholType = ViewContext.HttpContext.Request.Query["alcoholType"];
    if (selectedAlcoholType.Any())
    {
        <text>
            <script>
                document.querySelector('select[name="alcoholType"] option[value="@selectedAlcoholType"]').setAttribute('selected', '');
            </script>
        </text>
    }
}